body{
    background-color: #463f3a;
    color:#f4f3ee;
}

#grid_size{
    width:50px;
}

.tile{
    width:50px;
    height:50px;
    background-color:#8a817c;
    border-radius: 5px;
    margin:2px;
}

.empty_tile{
    background-color: #463f3a;
    width:50px;
    height:50px;
    margin:2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {/*removes arrows*/
  -webkit-appearance: none;
  margin: 0;
}